RewriteEngine On

# all iiif calls are handled by a router script
RewriteRule ^iiif-p\/.*  /router.php [END]
RewriteRule ^iiif-i\/.*  /router.php [END]

# calls to the cetaf_id signature
# like this  https://data.herbariamundi.org/10.5281/zenodo.3613804
RewriteRule ^(10\.[0-9]+/zenodo\.[0-9]+) /router.php [END]